@import './base.css';

#app {
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

#chessboard {
  background: url('img/chessboard-squares.png');
  background-size: contain;
  aspect-ratio: 1;
  flex: 5;
  overflow: hidden;

  position: relative;
}

.chessboard-piece {
  position: absolute;
  top: 0;
  left: 0;
  width: 12.5%;
  cursor: grab;
  z-index: 2;
}

.chessboard-move {
  position: absolute;
  top: 0;
  left: 0;
  width: 12.5%;
  background-color: rgba(169, 169, 169, 0.5);
  border-radius: 100%;
  aspect-ratio: 1;
}

.chessboard-piece, .chessboard-piece div {
  background-size: cover !important;
  aspect-ratio: 1;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

